.myNav{
  background-color: #201692;
}
.navText{
  color: #fff !important;
  font-size: 30px;
  font-weight: bold;
  padding-left: 20px;
  transition: transform 0.2s;
}
.navText:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.menu{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 30px;
}
.navMenu{
  width: 30px;
  height: 1px;
  background-color: #fff;
}
.menu:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s;
}
.pokemon-heading{
  color: #201692;
  text-align: center;
  margin-top: 35px;
  font-size: 56px;
}
.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 40px;
}
.pokemon-card {
  width: 180px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: white;
  transition: transform 0.2s;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.4);
}
.pokemon-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.load-more-btn {
  margin: 20px auto;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(255, 75, 43, 0.5);
}
.load-more-btn:hover {
  background: linear-gradient(45deg, #ff4b2b, #ff416c);
  transform: translateY(-3px);
  box-shadow: 0px 6px 15px rgba(255, 75, 43, 0.7);
}
.load-more-btn:active {
  transform: translateY(1px);
  box-shadow: 0px 2px 5px rgba(255, 75, 43, 0.5);
}
.loading {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.pokemon-types{
  display: flex;
  gap: 5px;
}
.poko-type{
  font-size: 10px;
  padding: 5px 10px;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    border-radius: 12px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.no-scroll{
  overflow: hidden;
}
.pokemon-overlay{
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemon-model{
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}
.poko-header{
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.model-content{
  color: #fff;
}
.model-content-details{
  background: #fff;
  color: black;
  border-radius: 10px;
  padding: 20px 0 3px 0;
  margin: 17px 0 18px 0;
}
.poko-header span{
  font-weight: bold;
}
.model-img{
  width: 120px;
  padding-bottom: 10px;
}
/* .close-btn{
  cursor: pointer;
  font-size: 24px;
  padding: 5px 10px;
}
.close-btn:hover{
  box-shadow: 1px 1px -1px;
  transform: scale(1.1);
} */

.leftRight-arrows{
  width: 20px;
}
.leftRight-arrows:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.poko-arrows{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px){
  .pokemon-heading{
    font-size: 44px;
  }
}
@media screen and (max-width: 500px){
  .pokemon-heading{
    font-size: 36px;
  }
}






