*{
  padding: 0px;
  margin: 0px;
  box-sizing:border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  text-align: center;
  background-color: white !important;
  min-height: 100vh;
  /* scrollbar-width: thin !important;
  scrollbar-color: #201692 !important; */
}
a{
  text-decoration: none !important;
  color: #fff !important;
  font-size: 16px;
}
main{
  text-align: center;
}

body::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
  background-color: #201692 !important;
}